.mywork
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.mywork-title
{
    font-size: 160%;
    color: yellow;
    text-align: center;
}
.mywork-title hr
{
    width: 250px;
    height: 3px;
    background-color: yellow;
}

.mywork-container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:60px;


}
.mywork-container img
{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.4s;
    cursor: pointer;
    
}
.mywork-container img:hover
{
    transform: scale(1.10);
    border: 6px solid rgb(5, 110, 19);
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore
{
    display: flex;
    border: 2px solid #FFF;
    gap: 15px;
    padding: 9px;
    border-radius: 30px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore p
{
    padding: 9px;
    font-size: 20px;
}
.mywork-showmore:hover
{
    transform: scale(1.12);
    transition: 0.6s;
    gap: 30px;
}
a{
    text-decoration: none;
    color: #FFF;
}